
body{
    box-sizing: border-box;
    background-color: #4d73dd;
    justify-content: center;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    }

h1{
    width: 400px;
    margin-left: 70px;
    color: white;
}

textarea{
    
    margin-left: 30px;
    color:white;
    height: 100%;
    size-adjust: false;
    border: 0;
    resize: none;
    outline: none;
    size-adjust: unset;
    width: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)); 

}

.main{
    padding: 8px;
    border-radius: 6px; 
    /* border-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fdfbf9;
    /* backdrop-filter: blur(10px); */
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)); 
    font-family: 'Roboto Medium', sans-serif;
}

.header{
    justify-items: center;
    width: inherit;
    height: 100%;
    border-radius: 4px;
    background-color: #2f437a;
}

.profile-pic{
    align-self: right;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    /* border-radius: 50%; */
    /* border: 2px solid #2f437a; */
  
}